<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Cleer73</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>

    <div class="container">

      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Cleer73</a>
        </div>
      </nav>

      <div class="row">
        <div class="col">
          <h1>{{ page.title }}</h1>
          <section>
            {{ content }}
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <footer>
            &copy; to me
          </footer>
        </div>
      </div>

    </div>

  </body>
</html>