<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }} - Cleer73</title>
    <link rel="stylesheet" href="/css/default.css">
  </head>
  <body>

    <div class="container">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">Cleer73</a>

          <button class="navbar-toggler" type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarScroll"
            aria-controls="navbarScroll"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarScroll">
            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item portfolio-dropdown">
                <a class="nav-link dropdown-toggle" href="/portfolio"
                  id="portfolioDropdown"
                  role="button"
                  data-bs-toggle="portfolio-dropdown"
                  aria-expanded="false">Portfolio</a>
                <ul class="dropdown-menu" aria-labelledby="portfolioDropdown">
                  <li><a class="dropdown-item" href="#">Bookstore</a></li>
                  <li><a class="dropdown-item" href="#">Eagle</a></li>
                  <li><a class="dropdown-item" href="#">Application for Admissions</a></li>
                </ul>
              </li>
              <li class="nav-item projects-dropdown">
                <a class="nav-link dropdown-toggle" href="/projects"
                  id="projectsDropdown"
                  role="button"
                  data-bs-toggle="projects-dropdown"
                  aria-expanded="false">Projects</a>
                <ul class="dropdown-menu" aria-labelledby="projectsDropdown">
                  <li><hr class="dropdown-divider">Interface</li>
                  <li><a class="dropdown-item" href="#">Ferries</a></li>
                  <li><hr class="dropdown-divider">API</li>
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                </ul>
              </li>
            </ul>
          </div>

        </div>
      </nav>

      <div class="row">
        <div class="col">
          <h1>{{ page.title }}</h1>
          <section>
            {{ content }}
          </section>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <footer>
            &copy; to me
          </footer>
        </div>
      </div>

    </div>

    <script src="/assets/js/bootstrap/dropdown.js"></script>

  </body>
</html>